<div class="container-fluid mt-4">
    <div id="all-photos-grid" class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-2">
        </div>
    <div class="text-center">
        <button id="load-more-photos-btn" class="btn btn-outline-primary mt-4 d-none">További képek betöltése</button>
    </div>
</div>

<div class="modal fade" id="lightbox-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content bg-transparent border-0">
            <div class="modal-body p-0 d-flex flex-column justify-content-center align-items-center">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" style="position: absolute; top: 20px; right: 20px; z-index: 1056;"></button>
                
                <div id="lightbox-content-wrapper" style="position: relative;">
                    <img src="" id="lightbox-image" class="img-fluid">
                    <div id="lightbox-face-boxes-container"></div>
                </div>

                <a class="lightbox-nav prev" id="lightbox-prev">&#10094;</a>
                <a class="lightbox-nav next" id="lightbox-next">&#10095;</a>
            </div>
        </div>
    </div>
</div>

<template id="photo-card-template">
    <div class="col">
        <div class="photo-card">
            <img src="" class="img-fluid" loading="lazy">
        </div>
    </div>
</template>