{% extends "base.html" %}

{% block content %}
<div id="theme-overlay"></div>

<div id="background-wrapper">
    <div id="current-background" class="background-layer"></div>
    <div id="next-background" class="background-layer"></div>
</div>

<div class="slideshow-container">
    <div class="image-wrapper">
        <div id="current-image" class="image"></div>
        <div id="next-image" class="image"></div>
    </div>
    <div class="vignette"></div>
    <div class="overlay">
        <div id="clock" class="clock"></div>
        <div id="info-container" class="info-container"></div>
        <div id="birthday-container" class="birthday-container"></div>
        <div id="upcoming-birthdays-container" class="upcoming-birthdays-container"></div>
    </div>
</div>
{% endblock %}